<mat-sidenav-container class="all-wrap" fullscreen>
  <mat-sidenav #sidenav mode="side" opened="true" class="bundle-list-side-bar">
    <app-bundle-list-side-bar></app-bundle-list-side-bar>
  </mat-sidenav>

  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar color="primary">
        <button
          mat-icon-button
          (click)="sidenav.toggle()"
          title="Toggle sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-raised-button
          color="primary"
                *ngIf="false">
          add level (SEG.)
        </button>
        <button mat-raised-button
                color="primary"
                *ngIf="false">
          add level (EVENT)
        </button>
        <button mat-raised-button
                color="primary"
                *ngIf="false">
          rename sel. level
        </button>
        <button mat-raised-button
                color="primary"
                *ngIf="false">
          download TextGrid
        </button>
        <button mat-raised-button
                color="primary"
                *ngIf="false">
          download annotJSON
        </button>
        <button mat-raised-button
                color="primary"
                *ngIf="false"
                [disabled]="true">
          OSCI/SPEC settings
        </button>
        <!--start: demo menu-->
        <button mat-raised-button
                color="primary"
                [disabled]="!view_state_service.getPermission('openDemoBtnDBclick')"
                button [matMenuTriggerFor]="menu">
          open demo
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>ae</button>
          <button mat-menu-item>ema</button>
          <button mat-menu-item>epg</button>
        </mat-menu>
        <!--end: demo menu-->

        <button mat-raised-button
                color="primary"
                *ngIf="true"
                [disabled]="!view_state_service.getPermission('connectBtnClick')"
                (click)="connectBtnClick()"
        >
          connect
        </button>
        <button mat-raised-button
                color="primary"
                *ngIf="false">
          show hierarchy
        </button>
        <button mat-raised-button
                color="primary"
                *ngIf="false">
          edit config
        </button>
        <button mat-raised-button
                color="primary"
                *ngIf="false">
          search
        </button>
        <button mat-raised-button
                color="primary"
                [disabled]="!view_state_service.getPermission('clearBtnClick')"
                (click)="clearBtnClick()">
          clear
        </button>
        <span class="fill-remaining-space"></span>

        <button
          mat-icon-button
          title="open about/help">
          <mat-icon>info</mat-icon>
          <!--<mat-icon svgIcon="EMUwebAppEmu"></mat-icon>-->
          <!--<button><img src="assets/EMU-webAppEmu.svg" class="_35px" /></button>-->
        </button>

      </mat-toolbar>
    </header>

    <main class="content">
      <div class="all-canvas-container">
      <!--start: signals-->
      <div class="signals-resize-container">

        <div class="signal-container" *ngFor="let canvas_name of config_provider_service.vals?.perspectives[view_state_service.curPerspectiveIdx]?.signalCanvases.order">
          <app-osci style="display: flex; flex-direction: column; flex-grow: 1" *ngIf="canvas_name === 'OSCI'"
                    [audio_buffer] = "sound_handler_service.audioBuffer"
                    [viewport_sample_start] = "view_state_service.curViewPort.sS"
                    [viewport_sample_end] = "view_state_service.curViewPort.eS"></app-osci>

          <app-spectro style="display: flex; flex-direction: column; flex-grow: 1" *ngIf="canvas_name === 'SPEC'"
                       [audio_buffer] = "sound_handler_service.audioBuffer"
                       [viewport_sample_start] = "view_state_service.curViewPort.sS"
                       [viewport_sample_end] = "view_state_service.curViewPort.eS"></app-spectro>

          <app-ssff-track style="display: flex; flex-direction: column; flex-grow: 1" *ngIf="canvas_name !== 'OSCI' && canvas_name !== 'SPEC'"
                          [name]="canvas_name"
                          [viewport_sample_start] = "view_state_service.curViewPort.sS"
                          [viewport_sample_end] = "view_state_service.curViewPort.eS"></app-ssff-track>

        </div>
          <!--<app-osci style="flex-grow: 1"></app-osci>-->
          <!--<app-osci style="flex-grow: 1"></app-osci>-->
        <!--</div>-->

        <!--<div style="display: flex; flex-direction: column; height: 100%">-->
          <!--<div style="flex-grow: 1; background: red"></div>-->
          <!--<div style="flex-grow: 1; background: green"></div>-->
        <!--</div>-->

      </div>
      <!--end: signals-->

      <!--start: levels with time-->
      <div class="levels-container" *ngIf="view_state_service.getPermission('labelAction')">
        <!--dataServ.getLevelOrder(cps.vals.perspectives[vs.curPerspectiveIdx].levelCanvases.order)-->
        <app-level
          *ngFor="let level_name of config_provider_service.vals.perspectives[view_state_service.curPerspectiveIdx].levelCanvases.order"
          [level_annotation] = "data_service.getLevelDataByName(level_name)"
          [attributeDefinition]="view_state_service.getCurAttrDef(level_name)"
          [viewport_sample_start] = "view_state_service.curViewPort.sS"
          [viewport_sample_end] = "view_state_service.curViewPort.eS"
          [external_cursor_sample_position]="view_state_service.lastPcm"
          [audio_buffer]="sound_handler_service.audioBuffer"
        >

        </app-level>

      </div>
      <!--end: levels with time-->
      </div>
      <!--start: 2D canvas-->
      <!--<div class="2d-canvas">-->
        <!--&lt;!&ndash;Include a header DIV with the same name as the draggable DIV, followed by "header":&ndash;&gt;-->
        <!--<div class="2d-canvas-header">Click here to move</div>-->
        <!--<p>Move</p>-->
        <!--<p>this</p>-->
        <!--<p>DIV</p>-->
    <!--</div>-->
      <!--start: 2D canvas-->

      <div class="bottom-menu-bar">
        <mat-toolbar color="primary">
        <button mat-raised-button
                color="primary"
                (click)= "cmdZoomAll()"
                [disabled]="!view_state_service.getPermission('zoom')">
        all
        </button>
        <button mat-raised-button
                color="primary"
                (click)= "cmdZoomIn()"
                [disabled]="!view_state_service.getPermission('zoom')">
        in
        </button>
        <button mat-raised-button
                color="primary"
                (click)= "cmdZoomOut()"
                [disabled]="!view_state_service.getPermission('zoom')">
        out
        </button>
        <button mat-raised-button
                color="primary"
                (click)= "cmdZoomLeft()"
                [disabled]="!view_state_service.getPermission('zoom')">
        left
        </button>
        <button mat-raised-button
                color="primary"
                (click)= "cmdZoomRight()"
                [disabled]="!view_state_service.getPermission('zoom')">
        right
        </button>
        <button mat-raised-button
                color="primary"
                (click)= "cmdZoomSel()"
                [disabled]="!view_state_service.getPermission('zoom')">
        selection
        </button>
        <button mat-raised-button
                color="primary"
                (click)= "cmdPlayView()"
                [disabled]="!view_state_service.getPermission('playaudio')">
        play in view
        </button>
        <button mat-raised-button
                color="primary"
                (click)= "cmdPlaySel()"
                [disabled]="!view_state_service.getPermission('playaudio')">
        play selected
        </button>
        <button mat-raised-button
                color="primary"
                (click)= "cmdPlayAll()"
                [disabled]="!view_state_service.getPermission('playaudio')">
        play entire file
        </button>
        </mat-toolbar>
      </div>
    </main>
  </div>
</mat-sidenav-container>
