<div #levelcontainer class="emuwebapp-level-container">
     <!--(mousemove)="mousemove($event)"-->
     <!--(click)="mouseclick($event)"-->
     <!--(dblclick)="mousedblclick($event)"-->
     <!--(contextmenu)="mouserightclick($event)"-->
     <!--(mouseenter)="mouseenter($event)"-->
     <!--(mouseleave)="mouseleave($event)"-->

<!--  <canvas #levelCanvas class="emuwebapp-level-canvas" id="levelCanvas" width="2048" height="128"></canvas>-->
<!--  &lt;!&ndash;<canvas class="emuwebapp-level-markup" id="levelMarkupCanvas" width="2048" height="64" track-mouse-in-level="{{idx}}" level-name="level.name" level-type="level.type"></canvas>&ndash;&gt;-->
<!--  <canvas #levelMarkupCanvas class="emuwebapp-level-markup" id="levelMarkupCanvas" width="2048" height="128"></canvas>-->

<!--  <ko-stage #stage [config]="configStage">-->
<!--    <ko-layer #layer>-->
<!--      <ko-regular-polygon-->
<!--        #hexagon-->
<!--        [config]="configItem"-->
<!--      ></ko-regular-polygon>-->
<!--    </ko-layer>-->
<!--  </ko-stage>-->
  <div id="container">

  </div>

</div>
