<div mat-dialog-title>Connect to server</div>
<div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Server URL" type="text" [(ngModel)]="connectionData.url" (change)="urlChange()" (focus)="cursorInTextField();" (blur)="cursorOutOfTextField();">
    </mat-form-field>

    <br>
    Server type:
    <select [(ngModel)]="connectionData.serverType" (change)="serverTypeChange($event)">
        <option>EMU-webApp-WebSocket</option>
        <option>EMU-SDMS REST</option>
        <option>GitLab</option>
        <option>Plain HTTP</option>
    </select>

    <br>

    <mat-form-field>
      <input matInput placeholder="Database name" type="text" [(ngModel)]="connectionData.database" (focus)="cursorInTextField();" (blur)="cursorOutOfTextField();">
    </mat-form-field>

    <div *ngIf="connectionData.serverType === 'GitLab' || connectionData.serverType === 'Plain HTTP'">
        <mat-form-field>
            <input matInput placeholder="OAuth Client ID" type="text" [(ngModel)]="oauthClientIds[connectionData.url]" (focus)="cursorInTextField();" (blur)="cursorOutOfTextField();">
        </mat-form-field>

        <br>
        <button mat-button (click)="loginViaOpenIdConnect()">Log in via OpenID Connect</button>
    </div>


    <!--ng-model="modal.dataOut"-->
      <!--ng-init="modal.dataOut=cps.vals.main.serverUrl"-->
      <!--(focus)="cursorInTextField()"-->
      <!--(blur)="cursorOutOfTextField()">-->
      <!--<input matInput type="text" ng-model="modal.dataOut" ng-init="modal.dataOut=cps.vals.main.serverUrl" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">-->
    <button (click)="saveURL();" class="emuwebapp-mini-btn-save">(+)</button>
      <!--<button (click)="deleteURL(mySelect);" class="emuwebapp-mini-btn-save">(-)</button><br />-->
      <!--&nbsp;<br />-->
      <!--<select size="10"-->
      <!--name="url"-->
      <!--class="emuwebapp-modal-list"-->
      <!--ng-init="myUrls = getURLs(); mySelect=myUrls[0]"-->
      <!--ng-model="mySelect"-->
      <!--ng-change="setCurrentURL(mySelect)"-->
      <!--ng-dblclick="modal.confirmContent();">-->
      <!--<option ng-repeat="url in myUrls track by $index" ng-click="setCurrentURL(url)">{{url}}</option>-->
      <!--</select>-->
      <!--<br />-->

  {{connectionError}}
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close="cancel">cancel</button>
  <button mat-button [mat-dialog-close]="connectionData">connect</button>
</div>
