@import '../../emuwebapp-design';

.emuwebapp-level-container {
  //background: lightblue;
  //grid-column-start: 1;
  //grid-column-end: 1;
  //grid-row-start: 1;
  //grid-row-end: 4;
  position: relative;
  border: 1px solid $color-grey;
  //float:left;
  height: 64px;
  border: 1px solid black;
  margin: 5px;
  background-color: $color-black;
}

.emuwebapp-level-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  //border: 1px solid $color-grey;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.emuwebapp-level-markup {
  position: absolute;
  top: 0px;
  left: 0px;
  //background-color: rgba(255,0,0,0.1);
  //border: 1px solid $color-grey;
  width: 100%;
  height: 100%;
  z-index: 2;
}


