<!--<div class="wrapper">-->
  <div class="emuwebapp-level-container"
       (mousemove)="mousemove($event)"
       (click)="mouseclick($event)"
       (dblclick)="mousedblclick($event)"
       (contextmenu)="mouserightclick($event)"
       (mouseleave)="mouseleave($event)"
  >
    <canvas #mainCanvas class="emuwebapp-level-canvas" width="2048" height="128"></canvas>
    <!--<canvas #markupCanvas class="emuwebapp-level-markup" width="2048" height="64" track-mouse-in-level="{{idx}}" level-name="level.name" level-type="level.type"></canvas>-->
    <canvas #markupCanvas class="emuwebapp-level-markup"width="2048" height="128"></canvas>
  </div>
  <!--<div class="close-button-wrapper">-->
<!--<mat-icon>close</mat-icon>-->
<!--</div>-->
<!--<div class="resize-button-wrapper">-->
<!--<mat-icon>unfold_more</mat-icon>-->
<!--</div>-->
<!--<div class="save-button-wrapper">-->
<!--<mat-icon>save</mat-icon>-->
<!--</div>-->
<!--</div>-->
